@import "../../index.scss";

.icons-contacto {
    padding-top: 2rem;
    border-top: ridge;
    position: absolute;
    width: 100%;
    bottom: 2rem;
    .myicon {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2rem;
        transition: 0.6s;
        transition-timing-function: cubic-bezier(1, 0.85, 0, 1.11);
        &:hover {
            transition: 0.5s;
            transform: scale(1.2);
            transition-timing-function: cubic-bezier(0, 0.94, 0.5, 0.86);
            cursor: pointer;
        }
    }
    
}


.alerta {
    position: fixed;
    right: 0rem;
    top: 1rem;
    border-radius: 35px 0px 0px 35px !important;
    animation-duration: 3s;
    animation-name: slidein;
}
.hideAlert {
    transition: 0.5s;
    transition-property: opacity, left, top, height;
    transition-duration: 3s, 5s, 3s, 5s;
    display: none !important;
}
